*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*HEADER*/
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: black;
}
ul li.active a{
    background-color: #ffffff;
    color: black;
}
.logo img{
    margin-top: 10px;
    float: left;
    width: 100px;
    height: auto;


}
.main{
    max-width: 1500px;
    margin: auto;
}
.title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.title h1{
    color: white;
    font-size: 45px;
}
.title h2{
    color: white;
    font-size: 25px;
}
 h3{
    color: white;
    font-size: 40px;
}

.abtp{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
    border:  1px solid #ffffff;
    background: rgba(0,0, 0, 0.5);
    padding: 10px 10px;
    transition: 0.5s ease-in;

}
.abtp p{
    /*background-color: turquoise;
    opacity: 0.6;*/
    color: whitesmoke;
    font-size: 20px;
}
.abtp:hover{
    background-color: rgb(0, 0, 26);
}

  .jumbotron {
    margin: 0px auto;
    padding: 50px 30px;
    height:300px;
    width:auto;
    background: url("img/bg.jpg");
    color: floralwhite;
    }

    .jumbotron h1{
      padding-top: 40px;
      text-align: left;
      color:floralwhite;
      font-size: 5em;
      font-style: italic;
    }

    .leftcolumn {
    float: left;
    width: 75%;
  }


  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }


  .fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
  }



  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
