*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*HEADER*/
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: black;
}
ul li.active a{
    background-color: #ffffff;
    color: black;
}
.logo img{
    margin-top: 10px;
    float: left;
    width: 100px;
    height: auto;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: auto;*/
    
}
.main{
    max-width: 1500px;
    margin: auto;
}
.title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.title h1{
    color: white;
    font-size: 45px;
}
/*END OF HEADER AND TITLE OF IEE&E*/
/*ABOUT*/
.abtp{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
    border:  1px solid #ffffff;
    background: rgba(0,0, 0, 0.5);
    padding: 10px 10px;
    transition: 0.5s ease-in;

} 
.abtp p{
    /*background-color: turquoise;
    opacity: 0.6;*/
    color: whitesmoke;
    font-size: 20px;
}
.abtp:hover{
    background-color: rgb(0, 0, 26);
}
/*END OF ABOUT*/